<div class="container">
    <div class="lock"></div>
    <div class="message">
        <h1>Access To This Page Is Restricted</h1>
        <p>Please Check With The System Admin If You Believe This Is A Mistake</p>
    </div>
</div>
